body {
    background-color: #303030;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    background-color: #202020;
    border: #202020 solid;
    min-height: 50px;
}
nav {
    display: flex;
    position: relative;
    left: 15%;
    top: 18px;
}
.detalhesHeader1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 25%;
    gap: 30px;
}

#carro {
    background-color: #009E2A;
    position: relative;
    border-radius: 18px;
    left: 30%;
    top: 15px;
    height: 60px;
    width: 200px;
}

#carroimg {
    position: relative;
    left: 5%;
}

#carrotxt {
    position: relative;
    left: -10%;
}

.detalhesHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: white;
    gap: 10px;
}

#headerTitle {
    position: relative;
    display: flex;
    color: white;
    left: 2%;

}

#pesquisa {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    background-color: #424242;
    color: #808388;
    font-size: 20px;
    height: 50px;
    width: 600px;
    border-radius: 15px;
    padding-left: 15px; 
}

#pesquisaDecoracao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BF00FF;
    height: 50px;
    width: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


#headerDecoracao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BF00FF;
    gap: 30px;
    color: white;
    border: none;
    height: 40px;
}



.botaoHeader {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #BF00FF;
    width: 200px;
    height: 100%;
}

#botaoHeaderInicio {
    background-color: #4B0082;
}

.grupoCard {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 100px;
    justify-content: center;
}

.grupoCardWhiteP, .grupoCardRedP, .grupoCardGreenP {
    display: flex;
    position: relative;
    font-size: 10px;
    left: 2%;

}

.grupoCardWhiteP {
    color: white;
}

.grupoCardRedP {
    color: #FF0000;
}

.grupoCardGreenP {
    color: #00A202;
}

#grupoCard1-1 {
    background-color: #424242;
    width: 340px;
    height: 470px;
    margin: 20px;
}

#grupoCard1-2 {
    background-color: #424242;
    width: 340px;
    height: 470px;
    margin: 20px;
}

#grupoCard1-3 {
    background-color: #424242;
    width: 340px;
    height: 470px;
    margin: 20px;
}

#grupoCard1-4 {
    background-color: #424242;
    width: 340px;
    height: 470px;
    margin: 20px;
}

#grupoCard1-5 {
    background-color: #424242;
    width: 340px;
    height: 470px;
    margin: 20px;
}

#decoracaoIndex {
    display: flex;
    justify-content: center;
    background-color: #424242;
    color: white;
    height: 150px;
    gap: 20px;
}

.fontDecoH1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

#ordernar {
    display: flex;
}

.pageDiv {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px;
    width: 30px;
    background-color: #BF00FF;
    border-radius: 10px;
}

.pageDiv2 {
    position: relative;
    display: flex;
    padding: 20px;
    margin: 10px;
}

.textPage {
    position: relative;
    color: white;
    font-size: 20px;
    width: 350px;
    margin: 0px;
    padding: 0px;
    left: 5px;
}

.ajustarCoisas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 380px;
    margin: 25px;
}

.detalheDecoracaoIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

#c1 {
    background-color: #000000;
    height: 100px;
    width: 380px;
    margin: 25px;
}

#c1-1 {
    background-color: #202020;
}

#c2 {
    background-color: #143275;
    height: 100px;
    width: 380px;
    margin: 25px;
}

#c2-2 {
    background-color: #345AAD;
}

#c3 {
    background-color: #1E4611;
    height: 100px;
    width: 380px;
    margin: 25px;
}

#c3-3 {
    background-color: #32751F;
}

#c4 {
    background-color: #961D15;
    height: 100px;
    width: 380px;
    margin: 25px;
}

#c4-4 {
    background-color: #C2281E;
}

#anuncioIndex1 {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 100px;
    justify-content: center;
}

#img1deco {
    margin: 10px;
}

#img2deco {
    margin: 10px;
}

footer {
    display: flex;
    background-color: #202020;
}

#footerF {
    display: flex;
    position: relative;
    justify-content: center;
    left: 3%;
    gap: 200px;
}

.textoFooter {
    display: flex;
    font-size: 16px;
    color: #BF00FF;
}
.textoFooter2 {
    display: flex;
    font-size: 13px;
    color: white;
}

#divMail {
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 304px;
    height: 36px;
    border-radius: 10px;
    color: #9893A1;
}