body {
    background-color: #303030;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    background-color: #202020;
    border: #202020 solid;
    min-height: 50px;
}
nav {
    display: flex;
    position: relative;
    left: 15%;
    top: 18px;
}
.detalhesHeader1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 25%;
    gap: 30px;
}

#carro {
    background-color: #009E2A;
    position: relative;
    border-radius: 18px;
    left: 30%;
    top: 15px;
    height: 60px;
    width: 200px;
}

#carroimg {
    position: relative;
    left: 5%;
}

#carrotxt {
    position: relative;
    left: -10%;
}

.detalhesHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: white;
    gap: 10px;
}

#headerTitle {
    position: relative;
    display: flex;
    color: white;
    left: 2%;

}

#pesquisa {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    background-color: #424242;
    color: #808388;
    font-size: 20px;
    height: 50px;
    width: 600px;
    border-radius: 15px;
    padding-left: 15px; 
}

#pesquisaDecoracao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BF00FF;
    height: 50px;
    width: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


#headerDecoracao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BF00FF;
    gap: 30px;
    color: white;
    border: none;
    height: 40px;
}



.botaoHeader {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #BF00FF;
    width: 200px;
    height: 100%;
}

#botaoHeaderInicio {
    background-color: #BF00FF;
}

#botaoHeaderContato {
    background-color: #4B0082;

}
.grupoCard {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 100px;
    justify-content: center;
}

.grupoCardWhiteP, .grupoCardRedP, .grupoCardGreenP {
    display: flex;
    position: relative;
    font-size: 10px;
    left: 2%;

}

.grupoCardWhiteP {
    color: white;
}

.grupoCardRedP {
    color: #FF0000;
}

.grupoCardGreenP {
    color: #00A202;
}

.fontDecoH1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

#ordernar {
    display: flex;
}

.textPage {
    position: relative;
    color: white;
    font-size: 20px;
    width: 350px;
    margin: 0px;
    padding: 0px;
    left: 5px;
}

.ajustarCoisas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 380px;
    margin: 25px;
}

.detalheDecoracaoIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}


#anuncioIndex1 {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 100px;
    justify-content: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #3e3e3e;
    padding: 30px;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}

.card {
    width: 150px;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    position: relative;
}

.card .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.form-box {
    width: 500px;
    background: #d100ff;
    padding: 30px;
    border-radius: 12px;
    color: white;
    position: relative;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    position:relative;
}

form input,
form textarea {
    width: 100%;
    background: #f4e7f6;
    border: none;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 15px;
}

form textarea {
    height: 100px;
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    background: white;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.03);
    background: #ffe6ff;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}



footer {
    display: flex;
    background-color: #202020;
}

#footerF {
    display: flex;
    position: relative;
    justify-content: center;
    left: 3%;
    gap: 200px;
}

.textoFooter {
    display: flex;
    font-size: 16px;
    color: #BF00FF;
}
.textoFooter2 {
    display: flex;
    font-size: 13px;
    color: white;
}

#divMail {
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 304px;
    height: 36px;
    border-radius: 10px;
    color: #9893A1;

}
